/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
nav {
	display: inline-block;
	width: 98%;
	margin: 1%;
}
.Toolbar {
	display: inline;
	vertical-align: middle;
	width: 96%;
	margin: 0 2%;
}
.Toolbar a {
	display: inline-block;
	width: 5%;
	margin-right: 8%;
}
.logo {
	display: inline-block;
	width: 5%;
	margin: 2%;
}
.Top {
	width: 98%;
	margin: 0 1%;
}
.TopBox {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	margin: 0 4%;
}
h1 {
	font-size: 80px;
	text-align: center;
}

p {
	font-family: 'Roboto Mono', monospace;
}

#GetStarted {
	border: solid gray 2px;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 1px;
	padding-bottom: 1px;
	width: 20%;
	margin: 0 30%;
}

#CodeSnippet {
	width: 80%;
	margin: 0 10%;
}

section {
	width: 98%;
	margin: 0 1%;
}

.BigTop {
	width: 96%;
	margin: 2%;
	margin-top: 4%;
	border-top: solid gray 2px;
}

.TopThird {
	display: inline-block;
	width: 48%;
	margin: 2% 0;
	margin-right: 1%;
}
.middle-img {
	width: 96%;
	margin: 0 2%;
}
.BigBottom {
	width: 96%;
	margin: 2%;
	margin-bottom: 4%;
	border-bottom: solid gray 2px;
}

.BottomThird {
	display: inline-block;
	Width: 29%;
	margin: 2% 0;
	margin-right: 4%;
}

.Contact {
	width: 96%;
	margin: 50px 2%;
}
#ConctactInfo p {
	line-height: 1.9;
}
.Copyright {
	text-align: center;
	margin-bottom: 100px;
}